/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: 33.33333%;
}

.col-2 {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
}