/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: 33.33333%;
}

.col-2 {
    width: 50%;
}
