/* Mobile */
@media screen and (max-width: 740px) {
    .header {
        overflow: hidden;
    }

    .header .mobile-menu-btn {
        display: block;
    }

    .header .search-btn {
        display: none;
    }

    .nav .nav__list,
    .nav .nav__item,
    .nav .nav__link {
        display: block;
    }

    .nav li a {
        padding: 1px 24px;
    }

    .nav .nav__item:first-child {
        display: inline-block;
    }

    .nav .subnav__list {
        position: initial;
        background-color: #333;
    }

    .nav .subnav__list .subnav__link {
        color: #fff;
        padding: 5px 41px;
    }
}
