/* Tablet & Mobile */
@media (max-width: 1023px) {
    .nav .subnav__link {
        padding: 5px 12px;
    }

    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .content-info {
        line-height: 2;
    }

    .socials-list {
        font-size: 48px;
    }

    .socials-list .social-item {
        margin: 0 8px;
    }

    .footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 740px ) and (max-width: 1023px ){
    
}

/* Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .header {
        overflow: hidden;
    }

    .header .mobile-menu-btn {
        display: block;
    }

    .header .search-btn {
        display: none;
    }

    .nav .nav__list,
    .nav .nav__item,
    .nav .nav__link {
        display: block;
    }

    .nav li a {
        padding: 1px 24px;
    }

    .nav .nav__item:first-child {
        display: inline-block;
    }

    .nav .subnav__list {
        position: initial;
        background-color: #333;
    }

    .nav .subnav__list .subnav__link {
        color: #fff;
        padding: 5px 41px;
    }

    .content .members-list,
    .places-list,
    .contact-content,
    .s-col {
        flex-direction: column;
    }

    .contact-form {
        margin-top: 32px;
    }

    .btn {
        text-align: center;
    }
}
